manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
 #   - name: m165437 #new entry
 #     url-base: https://github.com/M165437 #new entry
    - name: gpeye
      url-base: https://github.com/GPeye
    - name: tokyo2006
      url-base: https://github.com/tokyo2006
    - name: englmaxi
      url-base: https://github.com/englmaxi
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-dongle-display
      remote: englmaxi
      revision: main
  self:
    path: config
